.root {
    @mixin light {
        background: var(--mantine-color-gray-2);
    }
  
    @mixin dark {
        background: var(--mantine-color-dark-9);
    }

    float: right;
    border-radius: 4px;
  }